<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kiddleapp">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".RekapPresensi.RekapPresensiActivity"></activity>
        <activity android:name=".Spp.UbahSppActivity" />
        <activity android:name=".Spp.DetailSppActivity" />
        <activity android:name=".Presensi.DetailPresensiActivity" />
        <activity android:name=".Presensi.PresensiActivity" />
        <activity android:name=".Spp.KonfirmSppActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Onboarding.OnBoardingActivity" />
        <activity android:name=".Spp.TestActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".Murid.EditMuridActivity" />
        <activity android:name=".Murid.DetailMuridActivity" />
        <activity android:name=".Guru.GuruActivity" />
        <activity android:name=".Profil.EditProfilActivity" />
        <activity android:name=".Profil.ProfilActivity" />
        <activity android:name=".Sekolah.EditSekolahActivity" />
        <activity android:name=".Profil.ProfilSekolahActivity" />
        <activity android:name=".Rapor.EditRaporActivity" />
        <activity android:name=".Rapor.RaporActivity" />
        <activity android:name=".Tugas.DetailTugasActivity" />
        <activity android:name=".Tugas.TugasActivity" />
        <activity android:name=".Tugas.EditTugasActivity" />
        <activity android:name=".Jurnal.JurnalActivity" />
        <activity android:name=".Jurnal.DetailJurnalActivity" />
        <activity android:name=".Kegiatan.KegiatanActivity" />
        <activity android:name=".Kegiatan.DetailKegiatanActivity" />
        <activity android:name=".Kegiatan.EditKegiatanActivity" />
        <activity android:name=".Jurnal.EditJurnalActivity" />
        <activity android:name=".Pengumuman.PengumumanActivity" />
        <activity android:name=".Pengumuman.DetailPengumumanActivity" />
        <activity android:name=".Pengumuman.EditPengumumanActivity" />
        <activity android:name=".Notifikasi.NotifikasiActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>