<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kiddleapp">
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Edit_Sekolah"></activity>
        <activity android:name=".Profil_sekolah" />
        <activity android:name=".Edit_Rapor" />
        <activity android:name=".Rapor" />
        <activity android:name=".Detail_Tugas" />
        <activity android:name=".Tugas" />
        <activity android:name=".Edit_Tugas" />
        <activity android:name=".Jurnal" />
        <activity android:name=".Detail_Jurnal" />
        <activity android:name=".Kegiatan" />
        <activity android:name=".Detail_Kegiatan" />
        <activity android:name=".Edit_Kegiatan" />
        <activity android:name=".Edit_Jurnal" />
        <activity android:name=".Materi" />
        <activity android:name=".Detail_Materi" />
        <activity android:name=".Edit_Materi" />
        <activity android:name=".Parenting" />
        <activity android:name=".Detail_Parenting" />
        <activity android:name=".Edit_Parenting" />
        <activity android:name=".Pengumuman" />
        <activity android:name=".Detail_Pengumuman" />
        <activity android:name=".Edit_Pengumuman" />
        <activity android:name=".Notifikasi" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>